/* ==================== SISTEMA DE ESTILOS MODULAR ==================== */

/* Utilitários */
@import url('utilities/reset.css');
@import url('utilities/scrollbar.css');
@import url('utilities/variables.css');

/* Componentes */
@import url('components/sidebar.css');
@import url('components/header.css');
@import url('components/cards.css');
@import url('components/buttons.css');
@import url('components/forms.css');
@import url('components/tables.css');
@import url('components/modals.css');
@import url('components/charts.css');
@import url('components/tooltips.css');
@import url('components/badges.css');
@import url('components/notifications.css');

/* Páginas */
@import url('pages/home.css');
@import url('pages/calendar.css');
@import url('pages/timeline.css');
@import url('pages/settings.css');

/* Responsivo */
@import url('utilities/responsive.css');
