# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Build outputs
dist/
build/
out/

# Environment
.env
.env.local
.env.production
.env.exemple
env.config.js
.playwright-mcp/

# Editors
.vscode/
.github/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store
.claude/

# Exemplos e  dados sensíveis
Exemplos/*.csv
Exemplos/*.xlsx
Exemplos/*.xls
Exemplos/
claude.md

# Arquivos de teste
teste*
*.log
/react-builder
/react-builder/*
react-builder/
react-builder/*
react-builder

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
